{{> head }}

   {{> navbar }}
<div class="row">
    <div class="col-7" style="margin-left: 15px;">
        <h1>War-Machine</h1>
        <P>James "Rhodey" Rhodes, de la sección sur de Filadelfia de Filadelfia , Pensilvania , fue un teniente en el Cuerpo de Marines de los Estados Unidos que cumplió períodos de servicio en el sudeste asiático. Como piloto de combate, quedó varado en la jungla detrás de las líneas enemigas después de que su helicóptero fuera derribado por el fuego de cohetes del Viet Cong . Se encuentra con Tony Stark , quien escapó del campo de prisioneros de Wong-Chu con su prototipo de armadura motorizada., por primera vez. Al derrotar a los soldados del Viet Cong que les tendieron una emboscada, Rhodes y Iron Man descubrieron una base de cohetes enemiga que fue el origen del lanzamiento de cohetes que aterrizó a Rhodes en primer lugar. Al destruir la base con un helicóptero Viet Cong robado, Rhodes y Iron Man vuelan el helicóptero de regreso al perímetro de defensa estadounidense. [12] En el hospital base de Saigón , Stark llega en persona para agradecer a Rhodes por ayudar a Iron Man y ofrecerle un trabajo como piloto personal. Después de que terminó la Guerra de Vietnam y después de tomar varias carreras, incluido el trabajo mercenario, Rhodes finalmente aceptó la oferta de Stark y se convirtió en piloto personal de Stark, ingeniero jefe de aviación de Stark International y uno de los amigos más cercanos de Stark.</P>
    </div>
    <div class="col-4">
        <img src="assets/img/war-machine.png"  class="img-thumbnail">
    </div>
</div>
     
     {{> footer }}